.home {
position: relative;
top:100px;
  text-align: center;
   opacity: 0.9;
}


.button {
  position: relative;
  top:100px;
  cursor: pointer;

}
.button p {
  font-size: 2.5rem;
  color: #222;
  font-family: 'Roboto', sans-serif;
  opacity: 0.9;
  text-align: left;
}

@media screen and (max-width: 800px) {
.button {
    display: none;
  }
  .home img{
    width: 100%
  }
}
